.rodapeDaPagina {
    background: #6278F7 url('/public/assets/images/fundo.png') center no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 89px 162px;
}

.rodapeDaPagina nav ul {
    list-style: none;
    display: flex;
    column-gap: 34px;
}

.rodapeDaPagina p {
    color: #ffffff;
}